$negro: #262626;
$blanco: #FFF;
$naranja: #e99401;


$primary: $naranja;
$white: $blanco;
$dark: $negro;

$fuente-headings: 'Outfit', sans-serif;
$fuente-textos: 'Outfit', sans-serif;

$font-family-base: $fuente-textos;
$headings-font-family: $fuente-headings;

$headings-font-weight: 900;

$h1-font-size: 4.4rem;
$h1-font-size: 3.6rem;
$h1-font-size: 2.6rem;

$headings-color: $primary;

$btn-font-weight: 900;
$btn-border-radius: 0;

$link-color: white;
$link-decoration: none;
$link-hover-color: $white;

$card-border-radius: 0;
$card-border-width: 0;

$input-border-radius: 1rem;
$input-border-color: $dark;


.fw-black{
  font-weight: 900;
}


// Importar Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
